body {
    margin: 0;
    padding: 0;
}

.row {
    margin-left: 0;
}

.col-md-4 {
    max-width: 100%;
}

.card {
    background-color: aliceblue;
}

.game-card {
    height: 100vh;
    width: 100%;
    font-family: 'Open Sans', monospace;
    justify-content: center;
}

.text-center {
    width: fit-content;
}

.btn-info {
    background-color: #1e17b894;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 60;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blur {
    backdrop-filter: blur(5px);
}

.active {
    display: flex;
    justify-content: center;
    width: 480px;
    height: 240px;
    border: 2px solid black;
    border-radius: 20px;
    padding: 20px;
}

.formModal {
    text-align: center;
}

h2 {
    text-align: center;
}

#btnOver:hover{
    background-color: blueviolet;
}

.card-header, .card-footer{
    background-color: rgb(107, 107, 192);
    color: azure;
 }

#btnLess:hover{
    background-color: rgb(220, 230, 32);
}

#btnEqual:hover{
    background-color: rgb(205, 65, 139);
}

#btnRetry{
    background-color: blueviolet;
    color: azure;
}